<header>
    <div class="lib-section">
        <h2>LIBRARIAN DASHBOARD</h2>
    
        <nav class="library-list">
            <a routerLink="/add-book-inventory" routerLinkActive="active">Add Book Inventory</a>
            <a routerLink="/check-inventory" routerLinkActive="active">Check Inventory</a>
            <a routerLink="/student-page" routerLinkActive="active">Student Page</a>
            <a routerLink="/borrow-request" routerLinkActive="active">Borrow Request</a>
        </nav>
    </div>    
</header>
